body {
    padding-bottom: 20px;
    background-color: #EAF6F6;
    min-height: 0 !important
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.text-danger {
    color: #F76B8A !important;
}

.login-container {
    width:100%
}
.login-form {
    width: 300px;
    margin: 100px auto auto auto;
}

.primary-button {
    width: 100%;
    background-color: #66BFBF !important;
    color: #FCFEFE !important;
}

.login-image {
    margin: 100px auto auto auto;
    width:100px
}

.login-secondary-button {
    text-decoration-line: none;
    background-color: #F76B8A !important;
    color: #FCFEFE !important;
    width: 100%;
}

button a {
    text-decoration-line: none;
    background-color: #F76B8A !important;
    color: #FCFEFE !important;
}

.add-project-button {
    margin-top: 17px !important;
    cursor: pointer;
}

.mdl-layout__header-row .mdl-navigation__link,
.mdl-navigation__link {
    color: black !important;
}

.mdl-textfield {
    width: 100% !important;
}

.mdl-dialog.medium-width {
    width: 500px !important
}

.action, .new-action {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}

.floated-label {
    font-size: 12px !important;
    top: 4px !important;
    visibility: visible;
}