<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="InitFileName" value="3MBP.ini"/>
      <add key="LogFileName" value="3MBP.log"/>
      <add key="DataFolderName" value="DATA"/>
    </appSettings>
</configuration>