body {
    padding-bottom: 20px;
    background-color: #EAF6F6;
    min-height: 0 !important
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.text-danger {
    color: #F76B8A !important;
}

.login-container,
.register-container {
    width: 100%
}

.login-form,
.register-form {
    width: 300px;
    margin: 100px auto auto auto;
}

.primary-button {
    width: 100%;
    background-color: #66BFBF !important;
    color: #FCFEFE !important;
}

.login-image,
.register-image {
    margin: 100px auto auto auto;
    width: 100px
}

.login-secondary-button,
.register-secondary-button {
    text-decoration-line: none;
    background-color: #F76B8A !important;
    color: #FCFEFE !important;
    width: 100%;
}

button a {
    text-decoration-line: none;
    background-color: #F76B8A !important;
    color: #FCFEFE !important;
}

.add-project-button {
    margin-top: 17px !important;
    cursor: pointer;
}

.mdl-layout__header-row .mdl-navigation__link,
.mdl-navigation__link {
    color: black !important;
}

    .mdl-navigation__link.mdl-link {
        color: #F76B8A !important;
        font-size: inherit;
    }

.mdl-textfield {
    width: 100% !important;
}

.mdl-dialog.medium-width {
    width: 500px !important
}

.mdl-dialog.wide-width {
    width: 1000px !important
}

.mdl-button {
    text-transform: none !important;
}

.action, .new-action {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}

.floated-label {
    font-size: 12px !important;
    top: 4px !important;
    visibility: visible;
}

.logs,
.results {
    height: 35%;
    overflow-y: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid rgb(63,81,181); /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

dialog.online-dialog {
    height: 90%;
}

dialog.online-dialog .mdl-dialog__content {
    height: 85%;
}