@{
    ViewData["Title"] = "Update Actions";
}

<h2 class="text-center">Create a New Project. Step 3</h2>

<h5 class="text-center">Nice work! Now you are ready to add all actions you want your app to perform.</h5>

<h5 class="text-center">After finishing your work you can go to @Html.ActionLink("details", "Details", new { id = ViewData["ProjectId"] }, new { @class = "mdl-navigation__link mdl-link" }) page.</h5>

@Html.Action("ActionForm", new { id = ViewData["ProjectId"] })

@section Scripts {
    <script src="~/Scripts/viewControllers/project/update-actions.js"></script>
}