@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LayoutEmpty";
}

<div class="login-container">
    <div class="login-image">
        <img src="~/images/computer-network-512.png" width="100" height="100" />
    </div>
    <div class="login-form">
        <h4 class="text-center">Please check your email to reset your password.</h4>
        <div class="form-group">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent login-secondary-button" asp-action="Login">Login</a>
        </div>
    </div>
</div>
