@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using ModbusAppGenerator.DataAccess.Entities
@model LoginViewModel
@inject SignInManager<UserEntity> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutEmpty";
}

<div class="login-container">
    <div class="login-image">
        <img src="~/images/computer-network-512.png" width="100" height="100" />
    </div>
    <div class="login-form">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input asp-for="Email" class="mdl-textfield__input" type="text">
                        <label asp-for="Email" class="mdl-textfield__label"></label>
                    </div>
                    <div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input asp-for="Password" class="mdl-textfield__input" type="password">
                        <label asp-for="Password" class="mdl-textfield__label"></label>
                    </div>
                    <div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                            <input asp-for="RememberMe" type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                            <span class="mdl-checkbox__label">@Html.DisplayNameFor(m => m.RememberMe)</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised primary-button">Login</button>
                </div>
            </form>
        </section>
        <div class="form-group text-center">
            <p>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent login-secondary-button" asp-action="ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent login-secondary-button" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
